# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.env.local
.env.production
.venv/
.venv/

# FastAPI specific
*.sqlite3
*.db
*.log

# IDE specific files
.idea/
*.iml

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific files
.DS_Store

# Python package distribution
*.egg
*.whl
